$clr-dark: #282c34;
$clr-light: #f9f9f9;
$clr-golden: #daa520;
$colorList: (
  "primary": RoyalBlue,
  "secondary": Tomato,
  "accent": YellowGreen,
);
$font-logo: "Dancing Script", cursive;
$font-body: "Arvo", serif;
$font-text: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

$font-size: (5rem, 4rem, 3rem);
@for $i from 1 through length($font-size) {
  h#{$i} {
    font-size: nth($font-size, $i);
  }
}
@media screen and (max-width: 768px) {
  $font-size: (3rem, 2.5rem, 2rem);
  @for $i from 1 through length($font-size) {
    h#{$i} {
      font-size: nth($font-size, $i);
    }
  }
}
/* =========================[LINE]========================= */
$line-1px-light: 1px solid $clr-light;
$line1px: 1px solid $clr-dark;

/* =========================[MEDIA]========================= */
$padding-base: 1rem 3rem;
$media-screen-pd: 0.5rem 1rem;
$margin-base: 1rem 3rem;
$media-screen-mg: 0.5rem 1rem;
$box-shadow-out: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #fff;
$box-shadow-in: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
  inset -0.2rem -0.2rem 0.5rem #fff;
